<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Maintainance Page</title>>
</head>

<body>
    <h1>Site is under maintainance</h1>
    <p>Copyright {{currentYear}}</p>
    {{>footer}}
</body>

</html>