<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Help Page</title>>
</head>

<body>
    <h1>{{pageTitle}}</h1>
    <a href="https://boiling-taiga-41252.herokuapp.com/">Project 1</a>
    <p>Copyright {{currentYear}}</p>
    {{>footer}}
</body>

</html>